@charset "ISO-8859-1";

body{
	background-color: #171717;

}

img {
	float: left; 
	margin-top: 4px; 
	margin-left: 4px; 
}

section#meny{
	height: 130px;
	display: flex;
	justify-content: space-around;
    margin-left: 110px;
    margin-right: 130px;
}

.content{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	align-content: flex-start;	
}

.savingschedulecontainer1{
	margin-top: 50px;
	margin-bottom: 60px;
	color: white;
	width: 350px;
	height: 350px;
	border-radius: 50% !important;
	background-image: url('https://i.postimg.cc/hvdrM2P4/Sk-rmavbild-2021-04-28-kl-10-17-04.jpg');
	font-family: Arial;
	word-wrap: break-word;
	box-shadow: 0 0 50px #7CB6B8;
}
.savingschedulecontainer2{
	margin-top: 50px;
	margin-bottom: 60px;
	color: white;
	width: 350px;
	height: 350px;
	border-radius: 50% !important;
	background-image: url('https://i.postimg.cc/CKBmdrCM/Sk-rmavbild-2021-04-28-kl-10-17-42-3.jpg');
	font-family: Arial;
	word-wrap: break-word;
	box-shadow: 0 0 50px #56555A;
}
.savingschedulecontainer3{
	margin-top: 50px;
	margin-bottom: 60px;
	color: white;
	width: 350px;
	height: 350px;
	border-radius: 50% !important;
	background-image: url('https://i.postimg.cc/DZWdyxGQ/Sk-rmavbild-2021-04-28-kl-10-18-04.jpg');
	font-family: Arial;
	word-wrap: break-word;
	box-shadow: 0 0 50px #F4A69E;
}
.savingschedulecontainer4{
	margin-top: 50px;
	margin-bottom: 60px;
	color: white;
	width: 350px;
	height: 350px;
	border-radius: 50% !important;
	background-image: url('https://i.postimg.cc/j2HfLmSf/Sk-rmavbild-2021-04-28-kl-10-16-51.jpg');
	font-family: Arial;
	word-wrap: break-word;
	box-shadow: 0 0 50px #7EA83D;
}
.savingschedulecontainer5{
	margin-top: 50px;
	margin-bottom: 60px;
	color: white;
	width: 350px;
	height: 350px;
	border-radius: 50% !important;
	background-image: url('https://i.postimg.cc/CMGnHywB/Sk-rmavbild-2021-04-28-kl-10-17-51.jpg');
	font-family: Arial;
	word-wrap: break-word;
	box-shadow: 0 0 50px #DCB4CE;
}
.savingschedulecontainer6{
	margin-top: 50px;
	margin-bottom: 60px;
	width: 350px;
	height: 350px;
	border-radius: 50% !important;
	background-image: url('https://i.postimg.cc/tRN7nhzF/Sk-rmavbild-2021-04-28-kl-10-16-26.jpg');	
	box-shadow: 0 0 50px #C6CAD6;
	align-items: center;
}

.textContainer{
	color: white;
	font-family: Arial;
	padding 200px 200px;
	margin-top: 150px;
	margin-left: 50px;
	font-weight: bold;
	word-wrap: break-word;
}


.home{
	width: 120px;
  	height: 130px;
  	float: left;
}
.savingschedules{
	width: 120px;
  	height: 130px;
  	float: left;
}
.new{
	width: 120px;
  	height: 250px;
  	float: left;
	
}
.settings{
	width: 120px;
  	height: 130px;
  	float: left;
	
}

section#mainbody{
	display: flex;
	height: 420px;
	justify-content: center;
	
}
section#mainbodySettings{
	height:600px;
	display: flex;
	justify-content: center;
}
section#mainbodyNew{
	height:480px;
	display: flex;
	justify-content: center;
}

#errorLbl{
	color: red;
	margin-left: 50px;
	position: absolut;	
}

#messageLbl{
	color: #80ff80;
	margin-left: 50px;
	position: absolut;	
}

.welcomeText{
    height: 400px;
    width: 40%;
    color: #fff;
    font-family: Arial;
    font-size: 17px;
    background-color: grey;
    float: left;
    word-wrap: break-word;
}

.header{
	padding: 30px 0px 0px 280px;
	color: #fff;
    font-family: Arial; 
    font-size: 35px;
    line-height: 0.5%;
}
.welcomeHeader{
	padding: 30px 0px 0px 320px;
	color: #fff;
    font-family: Arial; 
    font-size: 35px;
    line-height: 0.5%;
}
.aboutUsHeader{
	padding: 30px 0px 0px 250px;
	color: #fff;
    font-family: Arial; 
    font-size: 35px;
    line-height: 0.5%;
    margin-top: -150px;
}


#underheader{
    padding: 0px 0px 30px 285px;
    text-align: left;
    color: #fff;
    font-family: Arial; 
    font-size: 14px;
    line-height: 0.5%;
}   
.errorNoSavings{
	color: #fff;
	font-family: Arial;
	font-size: 18px;
	word-wrap: break-word;
	margin-top: 150px;
	margin-bottom: 340px
} 
.testHeader{
	color: #fff;
	font-family: Arial;
	font-size:35px;
	word-wrap: break-word;
	margin-top: 70px;
	margin-left: 380px;
}
.testing{
	justify-content: center;
	align-items: center; 
	
}

.settingsBox{
	height: 550px;
    width: 550px;
    color: white;
    font-family: Arial;
    font-size: 14px;
    background-color: #383939;
    float: left;
    word-wrap: break-word;
    border-radius: 40px;
}
.newBox{
	height: 400px;
    width: 45%;
    color: white;
    font-family: Arial;
    font-size: 14px;
    background-color: #383939;
    float: left;
    word-wrap: break-word;
    border-radius: 40px;
}
.welcomeBox{
	height: 105px;
    width: 35%;
    background-color: #383939;
    float: left;
    padding: 20px 30px 10px 30px;
    color: white;
    font-family: Arial;
    border-radius: 40px;
    text-align: justify;
    font-size: 15px;
}

#content{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.textBoxStyle{
	margin-left: 40px;
	line-height: 0.5%;
}
#usernameTextBox{
	padding: 3px 160px;
	border-radius: 10px;
}
#firstnameTextBox{
	padding: 3px 160px;
	border-radius: 10px;
}
#surnameTextBox{
	padding: 3px 160px;
	border-radius: 10px;
}
#incomeTextBox{
	padding: 3px 160px;
	border-radius: 10px;
}
#variableCostTextBox{
	padding: 3px 160px;
	border-radius: 10px;
}
#fixedCostTextBox{
	padding: 3px 160px;
	border-radius: 10px;
}
#savingScheduleNameTextBox{
	padding: 3px 160px;
	border-radius: 10px;
}
#savingGoalTextBox{
	padding: 3px 160px;
	border-radius: 10px
}
#savingDurationYearTextBox{
	padding: 3px 160px;
	border-radius: 10px
}
#savingDurationMonthTextBox{
	padding: 3px 160px;
	border-radius: 10px
}

#saveUserSettingsBtn{
	background-color: #71F69A;
	padding: 2px 20px;
    color: #171717;
    font-family: Arial;
    border-radius: 10px;
    font-weight: bold;
    border: #71F69A solid 3.8px;
}

#deleteUserBtn{
	background-color: #222122;
	padding: 6px 30px;
    color: white;
    font-family: Arial;
    border-radius: 10px;
    font-weight: bold;
    border: none;
}

#saveSavingScheduleBtn{
	background-color: #71F69A;
	padding: 3px 45px;
    color: #171717;
    font-family: Arial;
    border-radius: 10px;
    font-weight: bold;	
    border: none; 
}

#registerBtn{
	background-color: #71F69A;
	padding: 3px 45px;
    color: #171717;
    font-family: Arial;
    border-radius: 10px;
    font-weight: bold;	
    border: none; 
}
#logOut{
	background-color: #222122;
	padding: 6px 40px;
    color: white;
    font-family: Arial;
    border-radius: 10px;
    font-weight: bold;
    border: none;

}
#codeLink{
	color: white;
	font-family: Arial;
}

#showInformation{
	background-color: #71F69A;
	margin-top: 100px;
	margin-left: -37px;
	padding: 3px 25px;
	height: 20px;
    color: #171717;
    font-family: Arial;
    border-radius: 10px;
    font-weight: bold;
}

#runBtn{
	background-color: #71F69A;
	padding: 3px 30px;
    color: #171717;
    font-family: Arial;
    border-radius: 10px;
    font-weight: bold;	
    border: none;
}

#comboBox{
	color: #171717;
    font-family: Arial;
    border-radius: 10px;
    padding: 3px 45px;
    font-size: 12px;
}

section#buttonSettings{
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-left: 40px;
	margin-right: 40px;
}

section#footer{
	border-top: 1px solid #383939;
}

.leftdiv{
	float: left;
	width: 55%;
	color: #fff;
	font-family: Arial; 
	font-size: 11px;
}
.leftcenterdiv{
	float: left;
	width: 20%;
	color: #fff;
	font-family: Arial; 
	font-size: 11px;
	
}
.rightcenterdiv{
	float: left;
	width: 15%;
	color: #fff;
	font-family: Arial; 
	font-size: 11px;
	
}
.rightdiv{
	float: left;
	width: 10%;
	color: #fff;
	font-family: Arial; 
	font-size: 11px;
	
}

#aboutSection {
	height: 500px;
	width: 100%; 
}

#leftdiv {
	float: left; 
    float: left;
    color: white;
    font-family: Arial;
    text-align: justify;
    font-size: 15px;
    width: 20%;
    margin-left: 20%;
    margin-top: 1%;
	word-wrap: break-word;
}

#rightdiv {
	float:left; 
	margin-left: 3%; 
	margin-top: 3%; 
	width: 40%;
}
#portraits1{
	display: flex;
	justify-content: space-evenly;
	width: 100%;
}
#portraits2{
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	margin-top: 8%;
}

