@charset "ISO-8859-1";

body{
	background-color: #171717;

}
section#meny{
	height: 130px;
	display: flex;
	justify-content: space-around;
    margin-left: 110px;
    margin-right: 130px;
}


.home{
	width: 120px;
  	height: 130px;
  	float: left;
}
.savingschedules{
	width: 120px;
  	height: 130px;
  	float: left;
}
.new{
	width: 120px;
  	height: 130px;
  	float: left;
	
}
.settings{
	width: 120px;
  	height: 130px;
  	float: left;
	
}

section#mainbody{
	height:500px;
	display: flex;
	justify-content: center;
}
section#mainbodySettings{
	height:600px;
	display: flex;
	justify-content: center;
}


.welcomeText{
    height: 400px;
    width: 40%;
    color: #fff;
    font-family: Arial;
    font-size: 17px;
    background-color: grey;
    float: left;
    word-wrap: break-word;
}

.header{
	padding: 0px 0px 0px 200px;
	color: #fff;
    font-family: Arial; 
    font-size: 40px;
    font-style: bold;
}

.settingsBox{
	height: 500px;
    width: 55%;
    color: white;
    font-family: Arial;
    font-size: 14px;
    background-color: #383939;
    float: left;
    word-wrap: break-word;
    border-radius: 40px;
}

.username{
	margin-left: 40px;
	line-height: 0.5%;
}
.firstname{
	margin-left: 40px;
	line-height: 0.5%;
}
.surname{
	margin-left: 40px;
	line-height: 0.5%;
}
.income{
	margin-left: 40px;
	line-height: 0.5%;
}
.fixedcost{
	margin-left: 40px;
	line-height: 0.5%;
}
.variablecost{
	margin-left: 40px;
	line-height: 0.5%;
}



section#footer{
	border-top: 1px solid #383939;
}

.leftdiv{
	float: left;
	width: 55%;
	color: #fff;
	font-family: Arial; 
	font-size: 11px;
}
.leftcenterdiv{
	float: left;
	width: 20%;
	color: #fff;
	font-family: Arial; 
	font-size: 11px;
	
}
.rightcenterdiv{
	float: left;
	width: 15%;
	color: #fff;
	font-family: Arial; 
	font-size: 11px;
	
}
.rightdiv{
	float: left;
	width: 10%;
	color: #fff;
	font-family: Arial; 
	font-size: 11px;
	
}