@charset "ISO-8859-1";

body{
	background-color: #171717;

}
section#meny{
	height: 200px;
	display: flex;
	justify-content: space-around;
    margin-left: 110px;
    margin-right: 130px;
}


.home{
	width: 120px;
  	height: 130px;
  	float: left;
}
.savingschedules{
	width: 120px;
  	height: 130px;
  	float: left;
}
.new{
	width: 120px;
  	height: 130px;
  	float: left;
	
}
.settings{
	width: 120px;
  	height: 130px;
  	float: left;
	
}

section#mainbody{
	height:500px;
	display: flex;
	justify-content: center;
}


.welcomeText{
    height: 400px;
    width: 40%;
    color: #fff;
    font-family: Arial;
    font-size: 17px;
    background-color: grey;
    float: left;
    word-wrap: break-word;
}



section#footer{
	border-top: 1px solid #383939;
}

.leftdiv{
	float: left;
	width: 55%;
	color: #fff;
	font-family: Arial; 
	font-size: 11px;
}
.leftcenterdiv{
	float: left;
	width: 20%;
	color: #fff;
	font-family: Arial; 
	font-size: 11px;
	
}
.rightcenterdiv{
	float: left;
	width: 15%;
	color: #fff;
	font-family: Arial; 
	font-size: 11px;
	
}
.rightdiv{
	float: left;
	width: 10%;
	color: #fff;
	font-family: Arial; 
	font-size: 11px;
	
}