@charset "ISO-8859-1";
@media screen and (max-width:1000px) {
	.column {
		width: 100%;
	}
}

* {
	box-sizing: border-box;
}

 body {
	background-image: url('https://i.postimg.cc/wjFRDSpq/Stars-3.jpg');
}

section#footer{
	border-top: 1px solid #383939;
}

#findBtn{
	background-color: #222122;
	color: white;
	border: none;
	padding: 7px 50px;
	border-radius: 10px;
    font-weight: bold;
	font-family: Arial;
	margin-left: 60px;
}
#errorText{
	word-wrap: break-word;
	color: red;
	margin-left: 2px;
	padding: 3px 5px;
}

#createBtn{
	background-color: #71F69A;
	color: #171717;
	border: none;
	padding: 5px 43px;
	font: bold;
	font-family: Arial;
	border-radius: 10px;
    font-weight: bold;
    margin-left: 60px;
}

#userNameTextField{
	border-radius: 10px;
	padding: 4px 30px;
	margin-top: 25px;
	margin-left: 30px;
}

#line{
	margin-left: 10px;
	margin-right: 10px;
	width: 100%;
	border-top: 1px solid #383939;
}


.leftdiv{
	float: left;
	width: 55%;
	color: #fff;
	font-family: Arial; 
	font-size: 11px;
}
.leftcenterdiv{
	float: left;
	width: 20%;
	color: #fff;
	font-family: Arial; 
	font-size: 11px;
	
}
.rightcenterdiv{
	float: left;
	width: 15%;
	color: #fff;
	font-family: Arial; 
	font-size: 11px;
	
}
.rightdiv{
	float: left;
	width: 10%;
	color: #fff;
	font-family: Arial; 
	font-size: 11px;
	
}

h1{
	padding: 100px 0px 0px 130px;
	text-align: left;
	height: 180px;
	color: #fff;
	font-family: Arial; 
	font-size: 60px;

}

h2{
	padding: 0px 0px 0px 130px;
	text-align: left;
	color: #fff;
	font-family: Arial; 
	font-size: 20px;

}

.underHeader{
	padding: 0px 200px 0px 0px;
	float: left;

}

section#body{
	padding: 0px 0px 330px 0px;
}	

.logInBox{
	padding: 0px 35px 50px 0px;
	float: left;
	align-items: center;
	background-color: #383939;
	border-radius: 20px;
	margin-left: 450px;
	word-wrap: break-word;
	font-family: Arial;
	font-size: 13px;
}	
