@charset "ISO-8859-1";
@media screen and (max-width:1000px) {
	.column {
		width: 100%;
	}
}

* {
	box-sizing: border-box;
}

 body {
	background-image: url('https://i.postimg.cc/wjFRDSpq/Stars-3.jpg');
}

section#footer{
	border-top: 1px solid #383939;
}

.login{
	border-bottom: 2px solid #white;
}
.create {
	height: 20px;
}

#Username {
	width: 90%;
}

#FindBtn{
	background-color: #222122;
	color: white;
	border: none;
	width: 90%;
	font: bold;
	font-family: Arial;
}

#CreateBtn{
	background-color: #71F69A;
	color: #171717;
	border: none;
	width: 90%;
	font: bold;
	font-family: Arial;
}


.leftdiv{
	float: left;
	width: 55%;
	color: #fff;
	font-family: Arial; 
	font-size: 11px;
}
.leftcenterdiv{
	float: left;
	width: 20%;
	color: #fff;
	font-family: Arial; 
	font-size: 11px;
	
}
.rightcenterdiv{
	float: left;
	width: 15%;
	color: #fff;
	font-family: Arial; 
	font-size: 11px;
	
}
.rightdiv{
	float: left;
	width: 10%;
	color: #fff;
	font-family: Arial; 
	font-size: 11px;
	
}

h1{
	padding: 100px 0px 0px 130px;
	text-align: left;
	height: 180px;
	color: #fff;
	font-family: Arial; 
	font-size: 60px;

}
h2{
	padding: 0px 0px 0px 130px;
	text-align: left;
	color: #fff;
	font-family: Arial; 
	font-size: 20px;

}



input[type=text] {
  border: 20px 
  border-radius: 4px;
}
button#FindBtn {
  border: 4000px 
  border-radius: 4px;
}

section#underHeader{
	padding: 0px 200px 0px 0px;
	float: left;

}

section#body{
	padding: 0px 0px 400px 0px;
}	
section#logInBox{
	padding: 30px 250px 100px 0px;
	float: left;
		
}	

aside#logInBox {
	padding: 20px 20px 180px 20px;
	width: 150%;
	background-color: #383939;
	color: #383939;
	border-radius: 20px;
}
